@page "/Teams/{id:int}"

@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject ITeamData teamdb
@inject IPlayerData playerdb

@if (team != null)
{
    <h2>@team.TeamName</h2><br/>
    @foreach (var player in team.TeamPlayers)
    {
        <h6>#@player.Number @player.FirstName @player.LastName</h6>
        <br />
    }
    <a href="/Teams">Go Back</a>
}
else
{
    <h4>There is no team with the given id!</h4>
}


@code {
    [Parameter]
    public int Id { get; set; }

    List<TeamModel> teamList;
    TeamModel team;
    List<PlayerModel> players;

    protected override async Task OnInitializedAsync()
    {
        teamList = await teamdb.GetTeam(Id.ToString());
        players = await playerdb.GetPlayersFromTeam(Id.ToString());
        team = new TeamModel();
        team.TeamName = teamList[0].TeamName;
        team.TeamPlayers = players;
    }
}
