@page "/Forms/Players"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IPlayerData db

<h1>Players</h1>

<h4>Current Players: </h4>
@if (players is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var player in players)
            {
                <tr>
                    <td>@player.Number</td>
                    <td>@player.FirstName</td>
                    <td>@player.LastName</td>
                    <td>@player.TeamID</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<PlayerModel> players;

    protected override async Task OnInitializedAsync()
    {
        players = await db.GetPlayers();
    }
}
