@page "/clock"

@using reftool_blazor_server.Data.Game



<h4>@printTime</h4>
<br />
<button class="btn btn-primary" @onclick="ToggleTimer">@printState</button>


@code 
{
    private string printState = "Start";
    private bool buttonState = false;
    private static System.Timers.Timer timer;
    int gameTime = 600000;
    TimeSpan t = TimeSpan.FromMilliseconds(600000);
    string printTime = TimeSpan.FromMilliseconds(600000).ToString(@"mm\:ss\:f");

    public void ToggleTimer()
    {

        if (buttonState == false)
        {
            timer = new System.Timers.Timer(100);
            timer.Elapsed += CountDownTimer;
            timer.Enabled = true;
            printState = "Stop";
            buttonState = true;
        }
        else
        {
            timer.Enabled = false;
            buttonState = false;
            printState = "Start";

        }

    }

    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        if (gameTime > 0)
        {
            gameTime -= 100;
            t = TimeSpan.FromMilliseconds(gameTime);
            printTime = t.ToString(@"mm\:ss\:f");
        }
        else
        {
            timer.Enabled = false;
        }

        InvokeAsync(StateHasChanged);
    }


}
