@page "/"

<h1>RefTool</h1>
<h3>App for basketball referees to create match report in real time</h3>

<ul>
    <li>
        <a href="/game">Start a new game</a>
    </li>
    <li>
        <a href="Forms/AddTeam">Add a new team</a>
    </li>
</ul>
