@page "/"

<h1 class="h1">RefTool</h1>
<h3 class="h3">App for basketball referees to create match report in real time</h3>

<center>
    <div>
        <a href="/game"><img class="menuIcon" src="/images/startgame.png" /></a>
        <a href="/Teams"><img class="menuIcon" src="/images/teams.png" /></a>
        <a href="/Teams/Add"><img class="menuIcon" src="/images/addteam.png" /></a>
        <a href="/Tutorial"><img class="menuIcon" src="/images/tutorial.png" /></a>
    </div>
</center>

