@using BlazorDownloadFile
@using System.IO
@using reftool_blazor_server.Data

<h3>ExportToPdf</h3>


<button @onclick=@(async () => await BlazorDownloadFileService.DownloadFile("report.pdf", new MemoryStream(Convert.FromBase64String(reftool_blazor_server.Data.ExportToPdf.GenerateReport(null).ToString())), "application/octet-stream"))>Dowload Nyan From Stream</button>

@code {
    [Inject] IBlazorDownloadFileService BlazorDownloadFileService { get; set; }
}
